/*Index CSS*/

* { box-sizing: border-box; }

body {
	background: url("../img/free-stock-photos-002.jpg");
	background-size: auto;
	position: relative;
}

/*Navbar*/

.navbar {
	background: linear-gradient(145deg, transparent, #434649);
	position: fixed;
	width: 100%;
	height: 80px;
	top: 0;
	margin: 0 auto;
	border: 0;
	padding: 5px 140px 20px;
}

.navbar ul {
  margin: 0 auto;
	float: right;
	padding: 0px;
}

.navbar ul li {
	color: white;
	display: inline-block;
	text-transform: uppercase;
	padding: 10px;
	letter-spacing: 0.2em;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

.navbar-inverse .navbar-nav li a:hover {
  color: black;
  background-color: white;
  text-decoration: none;
  -webkit-transition: color 1s;
  -webkit-transition: background-color 1s;
}

.navbar-inverse .navbar-nav > .active > a {
  color: black;
  background-color: white;
  text-decoration: none;
  -webkit-transition: color 1s;
  -webkit-transition: background-color 1s;
}

@media (max-width: 1000px) {
	.navbar {
		padding: 5px 20px 20px;
	}
}


@media (max-width: 767px) {
	.navbar {
		background: transparent;
		height: 50px;
		padding: 10px;
		float: left;
	}

	.navbar-header {
		float: left;
		border: 0;
	}

	.navbar ul li {
		display: inline;
		padding: 0px;
		letter-spacing: 0.1em;
	}

	.navbar-collapse {
		background: linear-gradient(145deg, transparent, #434649);
		max-width: 150px;
		border: 0;
	}
}

/*Main CSS*/

.container {
	background: url("../img/free-stock-photos-002.jpg");
	min-height: 800px;
	width: 100%;
	background-size: cover;
  margin: 0 auto;
}

.header {
  text-align: center;
}

#content {
	width: 80%;
	margin: 0 auto;
  padding-top: 80px;
}

@media (max-width: 767px) {
	#content {
		width: 85%;
  	padding-top: 0px;
	}	
}

.btn {
	background-color: #434649;
	border: 0;
	color: white;
}

.tooltip {
	transition: all 300ms ease-in-out;
}

.tooltip.right .tooltip-arrow {
	border-right-color: #434649;
}

.tooltip-inner {
	background-color: #434649;
}

/* Home */

.home-container {
	width: 80%;
  margin: 0 auto;
}

/* Customized Carousel */

.carousel {
  max-height: 400px;
  max-width: 1920px;
  margin-top: 90px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {
	.carousel {
		margin-top: 10px;
	}
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
	height: 400px;
  background-color: #777;
}
.carousel-inner > .item > img {
 	position: absolute;
  left: 0;
  margin: 0;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: none;
  opacity: 1;
}

#me {

}

.carousel h3 {
	color: white;
	font-size: 30px;
}

.carousel a {
	color: white;
	font-size: 20px;
}

.carousel a:hover {
	color: white;
}

#home {
	width: 80%;
	margin: 0 auto;
  padding: 0;
}

@media (max-width: 1000px) {
	.btn-mobile {
		display: inline;
	}

	.btn-desktop {
		display: none;
	}
}

@media (min-width: 1000px) {
	.btn-mobile {
		display: none;
	}

	.btn-desktop {
		display: inherit;
	}
}

/*Projects**/

#projects {
  background-image: url("../img/free-stock-photos-0022.jpg");
	background-attachment: relative;
	background-repeat: no-repeat;
}

.work-img {
  display: block; /* needed to center the element with margin */
  margin: auto; /* center the image inside the column if it's smaller */
  max-width: 200px; /* needs to be set to the width of your image files if they are relatively small */
  position: relative; /* is needed for .info position: absolute to work */
}

.info {
	display: none;
  position: absolute;
  top: 10%;
  left: 10%;
  color:#fff;
  text-transform:uppercase;
  font-weight:700;
  letter-spacing:0.5em;
  line-height:1.6;
}

.proj-title {
  font-weight:100;
}

/*About me*/

.learn-more {
	text-align: left;
	float: left;
}

#modalembed {
	height: 500px;
  width: 100%;
  padding: 10px;
}

.label {
	font-size: 15px;
}

/*Contact*/

#contact {
  background-image: url("../img/free-stock-photos-0022.jpg");
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
}

.form-control {
	max-width: 350px;
	margin: 5px;
}

.btn-message {
	margin: 5px;
}

#map {
	width: 320px;
	height: 230px;
}

#char-count {
	margin: 5px;
}


label {
	margin-left: 5px;
}

/*FAQ*/

.panel {
	background-color: white;
}

.panel-heading {
	background-color: black;
}

/*Footer*/

.footer {
	width: 80%;
	position: absolute;
	bottom: 0;
	padding-top: 150px;
	padding-bottom: 10px;
}

#copyright {
	text-align: left;
	padding: 5px;
}

#facebook {
	text-align: center;
	padding: 5px;
}

#twitter {
	text-align: right;
	padding: 5px;
}

@media (max-width: 1000px) {
	.footer {
		padding-top: 50px;
	}

	#copyright,
	#twitter {
		text-align: center;
	}
}

/*Typography*/

body {
	font-family: 'Muli', Arial, sans-serif;
}

a {
	color: black;
}

a:hover {
	color: black;
}

h1,
h2,
h3 {
	font-weight: 900;
  font-family: 'Muli', Arial, sans-serif;
}

p,
li {
	font-family: 'Muli', Arial, sans-serif;
}
